:root {
   /* Background Variables */
   --background-color: #ADD8E6; /* Main Background Color */
   --background-input: #ADD8E6; /* Input Field Background Color */
   --background-column: #ADD8E6; /* Background for Apps Container */
   --background-settings: #ADD8E6; /* Settings Card Background */
   --background-buttons: #ADD8E6; /* Button Background Color */
   --tab-active-background: ##e6e6fa; /* Accent Color for Tabs */
   --tab-inactive-background: ; /* Background Color for Tabs Not In Use */
   --slider-active-background: #e6e6fa; /* Active Slider Background Color */
   --slider-inactive-background: ##e6e6fa; /* Slider Background Color */
   --nav-image: url("/./assets/media/favicon/main-inverted.png"); /* Nav Logo */
   --save-button: #a6d189; /* Save Button, Normally Green */
   /* Text Variables */
   --text-primary: #FF5F00; /* Primary Text Color */
   --text-dark: #aaa; /* Dark Text Color for Error Page, Scrollbar, and Particles */
   --text-placeholder: #555; /* Placeholder Text Color */
   /* Other Variables */
}
